*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: #F0F2F5;
}
/* Header */
.header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 20px;
  box-shadow: 0px 5px 8px -9px rgba(0,0,0,0.75);
  background-color: #fff;
  position: sticky;
  top:0px;
  z-index: 100;
}

.header__left,.header__right,.header__info{
  display: flex;
  align-items: center;
}
.header__middle{
  display: flex;
  justify-content: center;
  flex: 1;
  height: inherit;
}
.header_input{
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #eff2f5;
  border-radius: 30px;
  margin-left: 10px;
}
.header_input>input{
  border: none;
  outline-width: 0;
  background: inherit;
  width: 240px;
}

.header__left>img{
  height: 40px;
}

.header_option{
  padding: 0px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.header_option:hover{
  background-color: #efefef;
  padding: 0px 30px;
  border-radius: 10px;
}

.header_option>.MuiSvgIcon-root{
  color: gray;
}

.header_option:hover>.MuiSvgIcon-root{
  color: blue;
}

.header__info>h4{
  margin: 0px 10px;
}

/* Side bar */
.side__bar{
  padding: 10px;
  max-width: 360px;
}
.side__bar h4{
  margin:10px 0px;
  color: #5F6061;
}
.sidebar__row{
  display: flex;
  align-items: center;
  padding: 10px;
}
.sidebar__row:hover{
  background-color: #E4E6E9;
  cursor: pointer;
}
.sidebar__row>h4{
  margin-left: 10px;
  color: #5F6061;
}